.cards {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
}

.card {
    border: 1px solid black;
}

.title-card {
    font-weight: 600;
}

.image-card {
    width: 100%;
    height: 100%;
}

.edit-btn {
    width: 20px;
    height: 20px;
}

#post,
#edit {
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: moccasin;
    /* gap: 10px */
}

#titulo-id {
    width: 100%;
    height: 20%;
}

#post input[name="titulo"],
#edit input[name="titulo"] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 600;
    text-indent: 10px;
}

#post input[name="titulo"]:focus,
#edit input[name="titulo"]:focus {
    box-shadow: 2px 2px 8px;
    text-indent: 10px;
    font-weight: 600;
    
}

#post input[name="titulo"]::placeholder,
#edit input[name="titulo"]::placeholder {
    color:grey;
    opacity: 85%;
    text-indent: 10px;
    font-weight: 300;
}

#descripcion-id {
    width: 100%;
    height: 60%;
}

#post textarea[name="descripcion"],
#edit textarea[name="descripcion"] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    
}

#post textarea[name="descripcion"]:focus,
#edit textarea[name="descripcion"]:focus {
    box-shadow: 2px 2px 8px;
    font-weight: 600;
    resize: vertical;
    
}

#post textarea[name="descripcion"]::placeholder,
#edit textarea[name="descripcion"]::placeholder {
    color:grey;
    opacity: 85%;
    text-indent: 5px;
    font-weight: 300;
    text-align: start;
}

#content-box {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: moccasin;
    border: 2px solid black;
}

#image-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-grow: 2;
    flex-shrink: 1;
    gap: 8px;
}

label[for="image"]>span {
    font-size: 32px;
}

input[type="file"] {
    color: transparent;
    width: 170px;
}

input[type="file"]::file-selector-button {
    width: 100%;
    height: 30px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    width: 100%;
    height: 30px;
    background-color: rgb(208, 138, 8);
    border: 2px solid black;
    border-radius: 20px;
    font-weight: 600;
    color: black;
}

.file-status {
    margin: 0;
    font-size: 0.95rem;
    color: #333;
    text-align: center;
}

#mood-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: 1px solid black;
    flex-grow: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 95%;
  height: 6px;
  border-radius: 5px;
  background: #ddd;
  outline: none;

}


input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #333;
  margin-top: -2px;
  cursor: pointer;
}

#mood-id > label > span {
    margin-top: 10px;
    font-size: 32px;
}

#mood-id > p {
    font-weight: 500;
}

.youtube {
    width: 100%;
    overflow: hidden;
    flex-grow: 3;
}

#post > button,
#edit > button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 45px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: 600;
}
